@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    font-family: 'Montserrat', sans-serif !important;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
@media screen and (max-width: 960px) {
    
}
/* width */
::-webkit-scrollbar {
    width: 0.8rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #00C5FF; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
  }
a {
    color: black!important;
}

.auth-card {
    margin: 20vh auto;
    max-width: 40%;
    padding: 50px;
    text-align: center;
}

.link {
    color: #00C5FF !important;
}

.profile-top {
    display: flex;
    justify-content: space-around;
    margin: 18px 0px;
    border-bottom: 1px solid grey;
}

.profile-contents {
    margin: auto 0;
    align-items: center;
}

.profile-stats {
    display: flex;
    justify-content: space-between;
    width: 109%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item {
    width: 40vh;
    height: 40vh;
    object-fit: cover;
    object-position: center;
}

.home {
    margin: 10vh 0px;
}

.home-card {
    max-width: 60%;
    height: max-content;
    margin: 50px auto;
    padding: 20px;
}

#toast-container {
    top: 70%!important;
    left: auto !important;
    right: 45%!important;
}

i {
    cursor: pointer;
}

.collection-item {
    width: 100%;
}

.login-container {
    width: 98vw;
    height: 93vh;
    display: flex;
    margin: 0!important;
}

.svg-graphics {
    width: 60%;
    height: 100%;
    border-radius: 0px 100px 100px 0px;
}
.other{
    width: 60%;
    height: 100%;
    border-radius: 0px 100px 100px 0px;
}
.login-card {
    width: 40%;
    margin:auto 0;
}

.login-card>div {
    margin: 0 20%;
}

.login-svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%!important;
    height: auto;
    position: relative;
    top: 25%;
}
.signup-svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%!important;
    height: auto;
    position: relative;
    top: 5%;
}
.other-svg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%!important;
    height: auto;
    position: relative;
    top: 15%;
}

.text-fields {
    border: 1px solid #00C5FF!important;
    padding: 7px 10px;
    border-radius: 15px;
    background: rgba(0, 197, 255, .1);
    margin: 7% 0;
}

.text-input::placeholder, input:focus {
    color: #00C5FF
}

.input-field .prefix.active {
    color: #00C5FF;
}

.prefix {
    color: #00C5FF;
}

.input-field input[type=email], .input-field input[type=password] , .input-field input[type=text] {
    border-bottom: none!important;
    margin: 0px 3rem;
}

.input-field input[type=email]:focus, .input-field input[type=password]:focus , .input-field input[type=text]:focus {
    border-bottom: none!important;
    box-shadow: none!important;
}

.input-field .prefix {
    top: 1rem;
}
.btn-long{
    width: 100%;
    color: white;
    background-color: #00C5FF;
    border:none;
    padding: 20px;
    border-radius: 15px;
    font-weight: bold;
}
.btn-long:hover{
    cursor: pointer;
    border:1px solid #00C5FF;
    background-color: white;
    color:#00C5FF;
    font-weight: bold;
}
.divider{
    margin: 10% 0;
}
.group-txt{
    display: flex;
    margin: 5% 0;
    width: 100%;
}
.txt-lower{
    font-size:0.85rem;
    font-weight:600;
    letter-spacing: 0.1rem;
}
.top-heading{
    font-weight: bolder;
    font-size:  4.5rem;
    margin-bottom: 20%;
    text-align: center;
    color: #00C5FF;
    font-variant: small-caps;
}
.nav-wrapper{
    position: fixed;
    z-index: 10;
    margin-bottom: 10vh;
}
.btn-default, .btn{
    border:none;
    padding: 1rem 4rem;
    border-radius: 15px;
    font-weight: bold;
    font-size: 0.9rem;
    text-transform: uppercase;
}
.dark{    
    color: white;
    background-color: #00C5FF;
}
.dark:hover{
    cursor: pointer;
    color: #00C5FF;
    background-color:white ;
    border:1px solid #00C5FF;    
}
.light{ 
    width: 100%;   
    color: #00C5FF;
    background-color:white ;
    border:1px solid #00C5FF;
}
.light:hover{
    color: white;
    background-color: #00C5FF;
}
nav ul a:hover {
    background-color: white!important;
}
.page-footer{ 
    padding-top: 4%!important;  
    background: rgba(0, 197, 255, .1);
}
.footer-text-heading {
    color:#00C5FF;
    margin-bottom: 3rem!important;
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}
.footer-text-sub{
    color:#00C5FF;
    font-size: 1.15rem;
    letter-spacing: 0.15rem;
}
.footer-text{
    color: black !important;
}
.links:hover{
    padding: 2% 5%;
    background-color: #00C5FF;
    color:white!important;
}
.links:hover::before{
    content: "> ";
}
.footer-text-main-heading{
    font-size: 3.5rem;
    letter-spacing: 0.15rem;
    color:#00C5FF!important;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: bolder;
}
.footer-divider{
    margin:1rem 0!important;
}
.footer-container{
    padding: 3rem 0!important;
}
.footer-logo{
    width: 15%;
    display: flex;
    justify-content: center;
}
.footer-row{
    margin-bottom: 0!important;
}
.contact-links{
    color:#00C5FF!important;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8rem;
}
.contact-icon{
    font-size: 1rem!important;
    margin-top: 0.2rem!important;
    margin-right: 0.4rem!important;
}
.contact-span{
    display: flex;
    justify-content: center;
}
.list-items{
    margin: 1rem 0;
}
.phone{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.black-txt{
    color:black;
    font-size: 5rem;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.4rem;
}
.blue-txt{
    color:#00C5FF;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 5rem;
}
.side1{
    position: relative;    
    top:50%;
    transform: translate(-0%, -50%)
}
.side2{
    position: relative;
    top:50%;
    transform: translate(-0%, -50%);
}
.screen1{    
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%!important;
    height: auto;
}
.startup-para{
    color:black;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.05rem;    
}
.float-btn{
    position: absolute;
    top :90%;
    left: 50%;
    transform: translate(-50%,0%);
    background-color:#00C5FF;
}
.float-btn:hover{
    background-color: white;
    border:1px solid #00C5FF;
}
.float-btn:hover >i {
    color:#00C5FF
}
.top-btn{
    position:fixed;
    top:90%;
    right:2%;
    background-color: white;
    border:1px solid #00C5FF;
}
.top-btn>i{
    color:#00C5FF
}
.top-btn:hover ,.top-btn:hover>i{    
    background-color:#00C5FF;
    color:white;
}
.features-svg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%!important;
    height: auto;
}
.featured-head{
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    color:#00C5FF!important;
    font-weight: bold;
    margin-bottom:5%;
    padding-top: 5%;
    letter-spacing: 0.25rem;
}
.featued-icon {
    color:#00C5FF;
    font-size: 5rem;
    width: 100%;
}
.featured-sub-head{
    color:#00C5FF;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}
.featured-para{
    color:black;
    font-size: 1.1rem;
    text-align: center;    
}
.startup-row{
    margin:15% 0!important;
}
.row-st{
    height:100%!important;
    margin-top:5%!important;
}
.startup-container{
    height: 100vh;
    background: rgba(0, 197, 255, .1);
}

.custom-header{
    background:rgba(0,0,0,0.0);
    position: fixed;
    z-index: 10;
    padding:0 15%;
    height: max-content;
}
.fixed{
    background-color: white;
}
.visble-true{
    display: block;
}
.visble-false{
    display: none;
}
.logo-txt{
    text-transform: uppercase;
    font-family:'Montserrat', sans-serif !important;
    letter-spacing: 0.8rem;
    color: #00c5ff !important;
    font-weight: bolder;
}
